default_region          = ""
name                    = ""
cidr                    = "0.0.0.0/0"
azs                     = [xx-xxxx-0x", "xx-xxxx-0x"]
public_subnets          = ["0.0.0.0/0", "0.0.0.0/0"]
private_subnets         = ["0.0.0.0/0", "0.0.0.0/0"]
user_access_key         = ""
user_secret_key         = ""
bucket_name             = ""
rds_alloc_storage       = ""
rds_max_storage         = ""
rds_instance            = ""
db_user                 = ""
db_name                 = ""
db_pass                 = ""
rds_snapshot_identifier  = ""
kms_alias               = ""
instance_key            = ""
elb_name                = ""
elb_tg_name             = ""
state_bucket_name       = ""
dynamodb_name           = ""
cloudflare_api_key       = ""
cloudflare_email         = ""
cloudflare_zone_id       = ""
cloudfront_oai          = ""